h2,hr{
  margin-left: 20px;
  margin-right: 20px;
}

.secondHr{
  margin-left: 80px;
  margin-right: 80px;
  color: black;


}
/*.inputs{
  appearance: auto;
  border: solid;
  text-align: left;
  border-radius: 12px;

  
  

}
.input3{
  
  border: solid;
  text-align: left;


  
  

}
.inputs2{
  appearance: auto;
  border: solid;
  height: 150px;
  width:300px;
  border-radius: 16px;
  
  text-align:left;
}
form{
  text-align: center;
}
/* belongs to tip calculator...originally button */
.button {
  border: solid;
  border-radius: 16px;
  padding: 5px;

} 
/*button {
  color: white;
  font-size: 25px;
  display:inline;
  appearance: default;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  border-radius: 7px;
  margin: 7px;
  
  
  

} */
.para{
  display: inline;
}
.calculator{
  border: solid;
  border-radius: 12px;
  width: 300px;
}
.calculator3{
  border: solid;
  border-radius: 12px;
  width: 200px;
}
.lastinput{
  
}
.btn{
  
}